[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
beautifulsoup4 = "*"
feedparser = "*"
python-dateutil = "*"

[dev-packages]
python-lsp-server = {extras = ["all"], version = "*"}
python-lsp-black = "*"
pyls-isort = "*"

[requires]
python_version = "3"
